body{
    width: 1024px;
    margin: auto;
    background-color: silver;
}

h1 {
    
    color: gold;
    border: 1px solid gold;
    background-color: black;
   box-sizing: border-box;
   padding: 20px;
    float: left;
    width: 33.33%;
}
nav{
    background-color: black;
}
p{
    color: darkmagenta;
    font-family: sans-serif;
    background-color:darkseagreen;
}
h2{
   
    font-family: sans-serif;
    background-color: crimson;
}
li{
    font-family: sans-serif;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 110px;
    
    border-style: solid;
    font-family: sans-serif;
}
aside{
    border-style: solid;
    background-color: blue;
    float: right;
}
.menu {
    box-sizing: border-box;
    list-style: none;
    color: gold;
    border: 1px solid gold;
    background-color: white;
    padding: 20px;
    float: left;
    width: 33.33%;
}

div{
    float: left;
    
}